<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="contact" id="Contact" style="margin-bottom: 5%;" >
      <div class="cont">
        <h1 class="heading" style="margin-left: 20%; font-size: 2.5rem;font-weight: 600;margin-bottom: 5%;">Book an Appointment</h1>
        <div class="container1">
          <img src="../../assets/contact.png" alt="" height="250" width="400" />
          <form>
            <input
              id="name"
              type="text"
              placeholder="Name"
              class="rounded-md mb-6 p-3 border border-black"
            />
            <input id="email" type="text" placeholder="Email" class="rounded-md mb-6 p-3 border border-black" />
            <input id="phone" type="text" placeholder="Phone" class="rounded-md mb-6 p-3 border border-black"/>
            <textarea
              id="message"
              cols="30"
              rows="5"
              placeholder="Message"
              class="rounded-md mb-6 p-3 border border-black"
            ></textarea>
            <button
              type="button"
              id="submit-button"
              style="
                background-color: #2506ad;
                box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
                transition: 0.3s ease;
              "
              class="btn"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-box">
        <h2>Services</h2>
        <a href="#">HEPATOLOGY</a>
        <a href="#">MEDICAL DRESSAGE</a>
        <a href="#">LABORATORY</a>
        <a href="#">VACCINATIONS</a>
        <a href="#">WHITENING</a>
      </div>
      <div class="footer-box">
        <h2>About Us</h2>
        <a href="#">Company Overview</a>
        <a href="#">Management</a>
        <a href="#">Initiatives</a>
        <a href="#">Carrers</a>
        <a href="#">Our Doctors Achieve</a>
      </div>
      <div class="footer-box">
        <h2>Queries</h2>
        <a href="#">Post a Query</a>
        <a href="#">Apollo Clinics</a>
        <a href="#">Reach Hospitals</a>
        <a href="#">Apollo Cradle</a>
        <a href="#">Ask Question</a>
      </div>
      <div class="footer-box">
        <h2>Facilities</h2>
        <a href="#">HEPATOLOGY</a>
        <a href="#">MEDICAL DRESSAGE</a>
        <a href="#">LABORATORY</a>
        <a href="#">VACCINATIONS</a>
        <a href="#">WHITENING</a>
      </div>
    </footer>
  </body>
</html>
